/* Поле Игры */
#gameBlock 
{
  position: relative;
  background: #4c4c4c; 
  width: 1000px;
  height: 600px;
  margin: 0 auto; 
  overflow: hidden;
}

/* Поле Информации */
#infoBlock 
{
  width: 1000px;
  height: 60px;
  background: #3e3e3e;
  margin: 0 auto;
  margin-bottom: 15px;
}


/* Дома */
#building 
{
  position: absolute;
  top: 100px;
  width: 100px;
  height: 100px;
}

.house 
{
  background: #6ca452;
}

.hospital 
{
  background: #c96b74;
}


/* Люди */
.people
{
  position: absolute;
  top: 450px;
  width: 40px;
  height: 40px;
  left: -40px;
  border-radius: 50%;
}

.healthy
{
  background: #6ca452;
}

.sick
{
  background: #c96b74;
}


/* Указатель */
.vl {
  border-left: 2px dashed white;
  height: 200px;
  position: absolute;
  left: 50%;
  top: -205px;
  display: none;
  opacity: 0.5;
}


/* Жизни */
#lifes 
{
  position: absolute;
  top: 11px;
  right: 15px;
}

#lifes #life 
{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #c9b56b;
  background: #ff6d69;
  float: right;
  margin-right: 2px;
}


/*Стиль очков*/
#points
{
  position: absolute;
  font-size: 40px;
  color: #c9b56b;
  font-weight: bold; 
  left: 13px;
  top: 2px;
}


#infoBlock h2 
{
  position: absolute;
  margin: 15px 0 15px 15px;
  color: #c9b56b;
}