/* == == == == == == == == == == == == == == == == == == ==
	ROOT
== == == == == == == == == == == == == == == == == == == == */

:root {
	--bg: #2f3132;
	--main: #e6e6e6;
	--menu: #2f3132;
	--icon: #fff;
	--icon-hover: #565656;
	--topic: #4f4f4f;
}

/* == == == == == == == == == == == == == == == == == == ==
	FONTS
== == == == == == == == == == == == == == == == == == == == */

$DefaultFont: "Montserrat";

@import "icons";
@import "fonts";

/* == == == == == == == == == == == == == == == == == == ==
	NORMALIZE
== == == == == == == == == == == == == == == == == == == == */

@import "normalize";

/* == == == == == == == == == == == == == == == == == == ==
	MAIN APP
== == == == == == == == == == == == == == == == == == == == */

#wrapper {
	min-width: 320px;
	min-height: 100vh;
}

.app {
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	background-color: var(--bg);
}

.conteiner {
	margin: 0 auto;
	max-width: 1440px;
}

.app__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: 100vh;
}

/* == == == == == == == == == == == == == == == == == == ==
	Style
== == == == == == == == == == == == == == == == == == == == */
